* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background-color: #161B33;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.home { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}


.home-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.home-text h1 {
    font-size: 96px;
    font-weight: 600;
    background: -webkit-linear-gradient(#7476AA, #F5F5F5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-text p {
    font-size: 34px;
    font-weight: 300;
    color: #F5F5F5;
    margin-top: 20px;
}

.home-image {
    width: 400px;
    height: 400px;
    padding: 50px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: -10px;
}

.socials img {
    margin-right: 20px;
}

.section {
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.section img {
    margin-right: 30px;
}

.section h2 {
    font-size: 48px;
    font-weight: 400;
    color: white;
}


#experience-content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    max-width: 55%;
    margin: auto;
}

.experience-text-all {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.experiences * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: rgb(116, 118, 170, 1.0);
    border-radius: 7px;
}

.experiences {
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

.header img {
    margin-right: 20px;
}

.header h3 {
    font-size: 28px;
    color: white;
    font-weight: 600;
}

.header h4 {
    font-size: 20px;
    color: white;
    font-weight: 400;
}

.header h5 {
    font-size: 16px;
    color: white;
    font-weight: 300;
}

.experiences p {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 14px;
}

#courses-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    max-width: 95%;
    margin: auto;
    margin-bottom: 50px;
}

#courses-content * {
    background: #7476AA;
    border-radius: 7px;
}

.courses-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 405px;
    height: 470px;
    margin: 20px;
}

.courses-section h3 {
    font-size: 27px;
    font-weight: 500;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.courses-section p {
    font-size: 20px;
    color: white;
    font-weight: 200;
    padding-left: 20px;
    margin-bottom: 3px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}